* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

nav {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

header {
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);

  padding: 48px;
  height: auto;
  width: 100%;
}

.icono {
  animation: moverDer 1s ease-in;
  justify-content: center;
  z-index: 1;
}

.uno {
  -webkit-clip-path: circle(0% at 100% 0);
  clip-path: circle(0% at 100% 0);
}

.dos {
  -webkit-clip-path: circle(150% at 100% 0);
  clip-path: circle(150% at 100% 0);
}

.enlaces {
  position: fixed;
  display: flex;
  top: 0;
  background: #000;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  left: 0;
  flex-direction: column;
  width: 100%;
  transition: all 1s ease;
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}

.container {
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

img {
  display: block;
  height: 400px;
  object-fit: cover;
  width: auto;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: moverArr 1s ease;
}

.img a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
}

.textos {
  width: 50%;
  color: #fff;
}

.textos h1 {
  font-size: 70px;
  color: #fff;
  animation: moverIzq 1s ease;
}

.textos h2 {
  font-size: 30px;
  animation: moverDer 1s ease;
}

.textos a {
  display: inline-block;
  color: #fff;
  margin-top: 30px;
  border: 1px solid #fff;
  padding: 10px 0;
  width: 150px;
  border-radius: 3px;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  animation: moverAba 1s ease;
}

.textos a:hover {
  color: #004e92;
  background-color: #fff;
  transition: 0.5s;
}

.wave {
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
  height: 100px;
  width: 100%;
}

@keyframes moverIzq {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moverDer {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moverArr {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moverAba {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 1000px) {
  img {
    height: 300px;
  }
  .textos h1 {
    font-size: 50px;
  }
  .textos h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  img {
    height: 250px;
  }
  .textos h1 {
    font-size: 40px;
  }
  .textos h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  img {
    height: 200px;
  }
  .textos h1 {
    font-size: 30px;
  }
  .textos h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .textos {
    width: 100%;
    text-align: center;
  }
  .img a {
    display: none;
  }
}
